<h1>Add a course</h1>

<form action="/signup" method="post">
  <input type="text" name="first_name" id="first_name" placeholder="Enter First Name">
  <input type="text" name="last_name" id="last_name" placeholder="Enter Last Name">
  <input type="date" id="bday" name="bday" label="Birthdate" placeholder="Enter DOB">
  <input type="text" name="email" id="email" placeholder="Enter Your E-mail">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Go">
</form>
