// @import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Cinzel|Stalinist+One|Tangerine");
$roboto-slab: Cinzel;
html {
  .jumbotron{
  background: url(/images/arnld.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  }
  body {
  font: 100% $roboto_slab;
  font-weight: normal;
  // color: $primary-color;
    padding-top: 60px;
  }

  section {
    overflow: auto;
  }

  textarea {
    resize: vertical;
  }

  .center {
    text-align: center;
  }

  .center h1 {
    margin-bottom: 10px;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto_slab;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}
.search-container {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
  .row {
    margin: 2px 0;
}

.card-text {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


  #submit{
      display:inline-block;
      padding: 10px;
      height: 45px;
  }

#dropdown{
    height: 45px;
}


  input#search-bar {
    margin: 0 auto;
    width: 60%;
    height: 45px;
    padding: 0 10px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }
  input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }
  input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }

  .search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    // top: -22px;
    // right: -45px;
  }
  }
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
